/* generali */
*{
  margin: 0;
}

main{
  margin-left: 20px;
}

h1{
  font-size: 30px;
}

h5{
  color: #616363;
  margin-top: 5px;
}

/* header  */
header{
  height: 180px;
  background-color: #4FA0FB;
  background-image: url('../img/pattern.png');
  position: relative;
}

.logo{
  width: 20%;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* main  */
.presentation{
  margin-top: 30px;
}

.autor{
  color: #4FA0FB;
}

.foto{
  margin-top: 10px;
}

.description{
  font-size: 12px;
}

.focus{
  margin-top: 20px;
}

.list{
  margin-top: 30px;
  margin-left: -25px;
}


/* footer  */